* {
    margin: 0;
    padding: 0;
  }


  
  .container {
    width: 100vw; /* Take up the full viewport width */
    height: 100vh;
    display: grid;
    grid-template: 1fr 5fr / 1fr 5fr;
  }
  
  .container div {
    font-size: 18px;
    font-family: Helvetica;
    color: white;
  }

/* SIDEBAR SECTION */
.sidebar {
    background-color: #4cc1fb;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 30px;
 }

.sidebar div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.dashboard p {
  font-size: 1.6rem;
}

.navigation-list-one p {
  font-size: 1.2rem;
}

.navigation-list-two p {
  font-size: 1.2rem;
}

/* HEADER SECTION */
.header {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr;   
}

.top {
    background-color: #c4c4c4;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

.header-left {
  display: flex;
  justify-content: start;
  align-items: center;  
  padding-left: 5vh;
}

.search {
  height: 3vh;
  padding-right: 20px;
}
 
input {
  width: 400px;
  height: 20px;
}
 
.header-right {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 50px;
}


.logo-small {
  height: 80px;
  padding-right: 20px;
}

.bell {
  height: 3vh;
  padding-right: 35px;
}
  
.nav {
    background-color: #c4c4c4;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-right: 50px;
    margin-top: -20px;
  }

  .nav ul li {
    font-size: 16px;
    text-transform: uppercase;
    list-style-type: none;
  }

  .nav-left {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 5vh;

  }
  .nav-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 5vh;
  }
  
  button {
    height: 5vh;
    width: 10vw;
  }
  .logo-big {
    height: 130px;
  }

/* MAIN SECTION */
.main {
    background-color: #bccbde;
    padding: 20px;
    grid-column: 2 / 3;
    display: grid;
    justify-content: center;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}

.main-left {
  background-color: #bccbde;
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr 18fr;
}


.projects h3 {
  color: red;
}

.card-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  height: 300px;
  width: 300px;
  border-left: 9px solid rgb(222, 163, 0);
  border-radius: 15px;
  padding: 20px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.icons {
  align-items: end;
  display: grid;
  grid-template-columns: repeat(auto-fit, max(40px));
  justify-content: right;
  gap: 20px;
}

.main-right {
  background-color: #bccbde;
  display: flex;
  align-items: start;
  flex-direction: column;
  }


.announcements > div > h3 {
  color: red;
}

.trending > div > h3 {
  color: red;
}

.announcements {
  background-color: #bccbde;
  display: grid;
  grid-template-rows: 1fr 10fr;
  gap: 10px;
}

.trending {
  background-color: #bccbde;
  display: grid;
  grid-template-rows: 1fr 10fr;
  gap: 10px;
  padding-top: 50px;
}

.card-container-one {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap:20px;
}

.card-container-two {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap:20px;
}

.card-two {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  border-left: 9px solid rgb(222, 163, 0);
  border-radius: 15px;
  padding: 20px;
  max-width: 250px;
  max-height: 400px;

}

p {
  color: black;
  font-weight: normal;
  font-size: 14px;
  padding: 5px;
}

.maintenance, .community {
  border-bottom: 3px solid gray;
}

.title {
    font-size: 18px;
   text-align: center;
  }

  